@import './fonts.css';
@import './tailwind.css';
@import './theme.css';

/* Carousel Custom Styles */
.offer-carousel .slick-track {
  display: flex !important;
  align-items: stretch;
}

.offer-carousel .slick-slide {
  height: inherit !important;
  display: flex !important;
}

.offer-carousel .slick-slide > div {
  height: 100%;
  width: 100%;
  display: flex !important;
}

.offer-carousel .slick-slide > div > div {
  height: 100%;
  width: 100%;
}

/* Smooth carousel animation */
.offer-carousel .slick-track {
  transition-timing-function: linear !important;
}

.offer-carousel {
  direction: ltr;
}

.offer-carousel .slick-list {
  overflow: hidden;
}